In [4]:
!pip install pandas seaborn matplotlib plotly

Requirement already satisfied: pandas in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (2.3.0)
Requirement already satisfied: seaborn in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (3.10.3)
Requirement already satisfied: plotly in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (6.1.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from plotly) (1.40.0)
Requirement already satisfied: six>=1.5 in c:\users\tusha\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [29]:
# Loading Sales Dataset
sales_df = pd.read_excel("D:\\Tiger\\DataScienceAssignment2-Plotting-Graphs\\Data\\SalesData.xlsx")
sales_df['OrderDate'] = pd.to_datetime(sales_df['OrderDate'], errors='coerce')

# Loading Diamonds Dataset
diamonds_df = pd.read_csv("D:\\Tiger\\DataScienceAssignment2-Plotting-Graphs\\Data\\diamonds.csv")

# Loading imdb Dataset
# there was an error while parsing so i added quoting and encoding handling
imdb_df = pd.read_csv(
    "D:\\Tiger\\DataScienceAssignment2-Plotting-Graphs\\Data\\imdb.csv",
    on_bad_lines='skip',
    encoding='utf-8',
    quotechar='"'
)

print("Datasets Loaded Successfully")

Datasets Loaded Successfully

In [68]:
#checking and verifying the datasets areloaded properly
print(sales_df.head())
print("\n")

   OrderDate   Region  Manager   SalesMan          Item  Units  Unit_price  \
0 2018-01-06     East   Martha  Alexander    Television     95      1198.0
1 2018-01-23  Central  Hermann     Shelli  Home Theater     50       500.0
2 2018-02-09  Central  Hermann       Luis    Television     36      1198.0
3 2018-02-26  Central  Timothy      David    Cell Phone     27       225.0
4 2018-03-15     West  Timothy    Stephen    Television     56      1198.0

   Sale_amt  days_diff
0  113810.0       1820
1   25000.0       1803
2   43128.0       1786
3    6075.0       1769
4   67088.0       1752

In [67]:
print(diamonds_df.head())
print("\n")

  carat      cut color clarity  depth  table  price     x     y     z  \
0  0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1  0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2  0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3  0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4  0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

     volume
0  38.20203
1   8.00000
2   8.00000
3  46.72458
4  51.91725

In [66]:
print(imdb_df.head())
print("\n")

                   fn        tid                             title  \
0  titles01/tt0012349  tt0012349  Der Vagabund und das Kind (1921)
1  titles01/tt0015864  tt0015864                 Goldrausch (1925)
2  titles01/tt0017136  tt0017136                 Metropolis (1927)
3  titles01/tt0017925  tt0017925                Der General (1926)
4  titles01/tt0021749  tt0021749      Lichter der Großstadt (1931)

                wordsInTitle                                   url  \
0  der vagabund und das kind  http://www.imdb.com/title/tt0012349/
1                 goldrausch  http://www.imdb.com/title/tt0015864/
2                 metropolis  http://www.imdb.com/title/tt0017136/
3                der general  http://www.imdb.com/title/tt0017925/
4      lichter der gro stadt  http://www.imdb.com/title/tt0021749/

   imdbRating  ratingCount  duration    year         type  ...  News  \
0         8.4      40550.0    3240.0  1921.0  video.movie  ...     0
1         8.3      45319.0    5700.0  1925.0  video.movie  ...     0
2         8.4      81007.0    9180.0  1927.0  video.movie  ...     0
3         8.3      37521.0    6420.0  1926.0  video.movie  ...     0
4         8.7      70057.0    5220.0  1931.0  video.movie  ...     0

   RealityTV  Romance  SciFi  Short  Sport  TalkShow  Thriller  War  Western
0          0        0      0      0      0         0         0    0        0
1          0        0      0      0      0         0         0    0        0
2          0        0      1      0      0         0         0    0        0
3          0        0      0      0      0         0         0    0        0
4          0        1      0      0      0         0         0    0        0

[5 rows x 44 columns]

In [32]:
# Question 1: Find the least amount sale that was done for each item.

import pandas as pd
least_sales = sales_df.groupby('Item')['Sale_amt'].min().reset_index()
print(least_sales)

           Item  Sale_amt
0    Cell Phone    3375.0
1          Desk     250.0
2  Home Theater    2000.0
3    Television    8386.0
4   Video Games     936.0

In [14]:
# Question 2: Compute the total sales for each year and region across all items

sales_df['OrderDate'] = pd.to_datetime(sales_df['OrderDate'])
sales_df['Year'] = sales_df['OrderDate'].dt.year
total_sales = sales_df.groupby(['Year', 'Region'])['Sale_amt'].sum().reset_index()

print(total_sales)

   Year   Region  Sale_amt
0  2018  Central  479825.0
1  2018     East  293780.0
2  2018     West  105424.0
3  2019  Central  349944.5
4  2019     East   27227.0
5  2019     West   49475.0

In [58]:
# Question 3: Create new column 'days_diff' with number of days difference between reference date and each order date

reference_date = pd.to_datetime('2022-12-31')
sales_df['days_diff'] = (reference_date - sales_df['OrderDate']).dt.days
print(sales_df['days_diff'])

0     1820
1     1803
2     1786
3     1769
4     1752
5     1735
6     1718
7     1701
8     1684
9     1667
10    1650
11    1633
12    1616
13    1599
14    1582
15    1565
16    1548
17    1531
18    1514
19    1497
20    1480
21    1463
22    1446
23    1429
24    1412
25    1395
26    1378
27    1361
28    1344
29    1327
30    1310
31    1293
32    1276
33    1259
34    1242
35    1225
36    1208
37    1191
38    1174
39    1157
40    1140
41    1123
42    1106
Name: days_diff, dtype: int64

In [56]:
# Question 4: Create a dataframe with 'manager' and 'list_of_salesmen'

manager_salesmen = sales_df.groupby('Manager')['SalesMan'].unique().reset_index()
manager_salesmen.rename(columns={'SalesMan': 'list_of_salesmen'}, inplace=True)
print(manager_salesmen)

   Manager            list_of_salesmen
0  Douglas      [Michael, Karen, John]
1  Hermann       [Shelli, Luis, Sigal]
2   Martha  [Alexander, Steven, Diana]
3  Timothy            [David, Stephen]

In [53]:
# Question 5: For all regions find number of salesman and total sales

region_summary = sales_df.groupby('Region').agg(
    salesmen_count=('SalesMan', pd.Series.nunique),
    total_sales=('Sale_amt', 'sum')
).reset_index()

print(region_summary)

    Region  salesmen_count  total_sales
0  Central               6     829769.5
1     East               3     321007.0
2     West               2     154899.0

In [52]:
# Question 6: Create a dataframe with total sales as percentage for each manager

manager_sales = sales_df.groupby('Manager')['Sale_amt'].sum()
total = manager_sales.sum()
percent_sales = (manager_sales / total * 100).reset_index(name='percent_sales')
print(percent_sales)

   Manager  percent_sales
0  Douglas      18.308990
1  Hermann      27.963188
2   Martha      36.187629
3  Timothy      17.540193

In [51]:
# Question 7: Get the imdb rating for fifth movie of dataframe

fifth_movie_rating = imdb_df.iloc[4]['imdbRating']
print(fifth_movie_rating)

8.7

In [50]:
# Question 8: Return titles of movies with shortest and longest run time

shortest = imdb_df.loc[imdb_df['duration'].idxmin(), 'title']
longest = imdb_df.loc[imdb_df['duration'].idxmax(), 'title']

print(shortest+"\n")
print(longest+"\n")

Traffic Crossing Leeds Bridge (1888)

Baseball The National Pastime (TV Episode 1994)

In [37]:
# Question 9: Sort by release year (ascending) and IMDb rating (descending)
sorted_df = imdb_df.sort_values(by=['year', 'imdbRating'], ascending=[True, False])
print(sorted_df[['title', 'year', 'imdbRating']].head())

                                        title    year  imdbRating
13605            Roundhay Garden Scene (1888)  1888.0         7.8
13282    Traffic Crossing Leeds Bridge (1888)  1888.0         7.2
6705                  Blacksmith Scene (1893)  1893.0         6.3
12316  Dickson Experimental Sound Film (1894)  1894.0         6.8
6706            The Kiss in the Tunnel (1899)  1899.0         5.9

In [49]:
# Question 10: Subset movies with duration between 30 and 180 minutes

subset_df = imdb_df[(imdb_df['duration'] >= 30) & (imdb_df['duration'] <= 180)]
print(subset_df)

                              fn        tid  \
921     titles02/index.html.3068  tt3265732
1320    titles02/index.html.4822  tt3297996
2443    titles03/index.html.1911  tt0091455
3266    titles03/index.html.3047  tt0191831
3718    titles03/index.html.3630  tt0331560
3888    titles03/index.html.3854  tt0373262
3949    titles03/index.html.3930  tt0384784
5410    titles03/index.html.5718  tt1443387
5416    titles03/index.html.5723  tt1447181
5517    titles03/index.html.5837  tt1549133
5640    titles03/index.html.5979  tt1642270
6270    titles03/index.html.6665  tt2553180
6332    titles03/index.html.6733  tt2914030
6340    titles03/index.html.6740  tt2954870
6376    titles03/index.html.6781  tt3158674
6453    titles03/index.html.6865  tt3435758
6705         titles04/index.html  tt0000005
6706       titles04/index.html.1  tt0000248
7268   titles04/index.html.11013  tt1024675
7380   titles04/index.html.11219  tt1104326
7472   titles04/index.html.11386  tt1160329
7711   titles04/index.html.11793  tt1295036
7800   titles04/index.html.11934  tt1343059
8794   titles04/index.html.13656  tt2125840
9005   titles04/index.html.14036  tt2396775
9011   titles04/index.html.14044  tt2404170
9121   titles04/index.html.14213  tt2760848
9197   titles04/index.html.14337  tt3102724
9230   titles04/index.html.14404  tt3262324
9600       titles04/index.html.2  tt0000306
10650   titles04/index.html.3732  tt0086855
11221   titles04/index.html.4697  tt0102359
12109   titles04/index.html.6188  tt0140812
12685   titles04/index.html.7080  tt0248808
12838   titles04/index.html.7330  tt0272170

                                                   title  \
921    Words with Warwick Kathleen Kennedy (TV Episod...
1320   The Twenty-Eight Hits for Laughs Who the Hell ...
2443                             Die kleine Lampe (1986)
3266                                      Bigfoot (1967)
3718                Lord of the Piercing (TV Short 2002)
3888              Recruiting a Digital Army (Video 2000)
3949                                 (Ohne Titel) (2003)
5410   Cavalcade of Cartoon Comedy Things You Never H...
5416                                 My Left Sock (2003)
5517                       Un Parisien à New York (2007)
5640                            Love Tester (Video 2010)
6270              Bum Reviews Die Hard (TV Episode 2012)
6332            Movie Friends: Prashant Prabhakar (2013)
6340                             This Is England? (2012)
6376   Hannah and Her Sisters Remake: Los Angeles Fil...
6453   Ben's Boston The Real People of the Town (TV E...
6705                             Blacksmith Scene (1893)
6706                       The Kiss in the Tunnel (1899)
7268                     The Wayne Train (TV Movie 1973)
7380            Eureka: Hide and Seek (TV Series 2006– )
7472                                 The Landlord (2007)
7711      Cavalcade of Cartoon Comedy (TV Series 2008– )
7800   The Russell Harty Show 1974: Roger Moore and H...
8794      Forget About It Harry Potter (TV Episode 2011)
9005                     Zac Learns to Sail (Video 2010)
9011                               Where's Waldo? (2012)
9121   Terror Film Festival Promotional Video 2012 (2...
9197                           Top 1 Shark Movies (2013)
9230   Movie Friends - Eine Videothek stellt sich vor...
9600                             Le duel d'Hamlet (1900)
10650        The Adventures of André and Wally B. (1984)
11221  Luxo Jr. in 'Surprise' and 'Light & Heavy' (1991)
12109                            Any Bonds Today? (1942)
12685                            Der Vogelschreck (2000)
12838                   Let's All Go to the Lobby (1957)

                                            wordsInTitle  \
921       words with warwick kathleen kennedy tv episode
1320   the twenty eight hits for laughs who the hell ...
2443                                    die kleine lampe
3266                                             bigfoot
3718                       lord of the piercing tv short
3888                     recruiting a digital army video
3949                                          ohne titel
5410   cavalcade of cartoon comedy things you never h...
5416                                        my left sock
5517                                un parisien new york
5640                                   love tester video
6270                     bum reviews die hard tv episode
6332                    movie friends prashant prabhakar
6340                                     this is england
6376   hannah and her sisters remake los angeles film...
6453   ben s boston the real people of the town tv ep...
6705                                    blacksmith scene
6706                              the kiss in the tunnel
7268                            the wayne train tv movie
7380                      eureka hide and seek tv series
7472                                        the landlord
7711               cavalcade of cartoon comedy tv series
7800   the russell harty show roger moore and herv vi...
8794             forget about it harry potter tv episode
9005                            zac learns to sail video
9011                                       where s waldo
9121              terror film festival promotional video
9197                                    top shark movies
9230   movie friends eine videothek stellt sich vor v...
9600                                    le duel d hamlet
10650                 the adventures of andr and wally b
11221                luxo jr in surprise and light heavy
12109                                    any bonds today
12685                                   der vogelschreck
12838                          let s all go to the lobby

                                        url  imdbRating  ratingCount  \
921    http://www.imdb.com/title/tt3265732/         NaN          NaN
1320   http://www.imdb.com/title/tt3297996/         7.3         10.0
2443   http://www.imdb.com/title/tt0091455/         7.5       5793.0
3266   http://www.imdb.com/title/tt0191831/         7.3        198.0
3718   http://www.imdb.com/title/tt0331560/         7.7       2162.0
3888   http://www.imdb.com/title/tt0373262/         NaN          NaN
3949   http://www.imdb.com/title/tt0384784/         6.3          6.0
5410   http://www.imdb.com/title/tt1443387/         6.6         15.0
5416   http://www.imdb.com/title/tt1447181/         NaN          NaN
5517   http://www.imdb.com/title/tt1549133/         NaN          NaN
5640   http://www.imdb.com/title/tt1642270/         NaN          NaN
6270   http://www.imdb.com/title/tt2553180/         NaN          NaN
6332   http://www.imdb.com/title/tt2914030/         NaN          NaN
6340   http://www.imdb.com/title/tt2954870/         NaN          NaN
6376   http://www.imdb.com/title/tt3158674/         NaN          NaN
6453   http://www.imdb.com/title/tt3435758/         NaN          NaN
6705   http://www.imdb.com/title/tt0000005/         6.3       1039.0
6706   http://www.imdb.com/title/tt0000248/         5.9        530.0
7268   http://www.imdb.com/title/tt1024675/         5.8         10.0
7380   http://www.imdb.com/title/tt1104326/         8.0        740.0
7472   http://www.imdb.com/title/tt1160329/         8.2       3604.0
7711   http://www.imdb.com/title/tt1295036/         6.5       1814.0
7800   http://www.imdb.com/title/tt1343059/         NaN          NaN
8794   http://www.imdb.com/title/tt2125840/         5.5          8.0
9005   http://www.imdb.com/title/tt2396775/         NaN          NaN
9011   http://www.imdb.com/title/tt2404170/         NaN          NaN
9121   http://www.imdb.com/title/tt2760848/         NaN          NaN
9197   http://www.imdb.com/title/tt3102724/         7.9         14.0
9230   http://www.imdb.com/title/tt3262324/         NaN          NaN
9600   http://www.imdb.com/title/tt0000306/         5.8         83.0
10650  http://www.imdb.com/title/tt0086855/         5.4       2777.0
11221  http://www.imdb.com/title/tt0102359/         6.7        367.0
12109  http://www.imdb.com/title/tt0140812/         5.9        202.0
12685  http://www.imdb.com/title/tt0248808/         8.2      12964.0
12838  http://www.imdb.com/title/tt0272170/         6.5        348.0

       duration    year           type  ...  News  RealityTV  Romance  SciFi  \
921       180.0  2013.0  video.episode  ...     0          0        0      0
1320       60.0  2011.0  video.episode  ...     0          0        0      0
2443      120.0  1986.0    video.movie  ...     0          0        0      0
3266       60.0  1967.0    video.movie  ...     0          0        0      0
3718      180.0  2002.0       video.tv  ...     0          0        0      0
3888       60.0  2000.0    video.movie  ...     0          0        0      0
3949      180.0  2003.0    video.movie  ...     0          0        0      0
5410      120.0  2009.0  video.episode  ...     0          0        0      0
5416      120.0  2003.0    video.movie  ...     0          0        0      0
5517      120.0  2007.0    video.movie  ...     0          0        0      0
5640      180.0  2010.0    video.movie  ...     0          0        0      1
6270      120.0  2012.0  video.episode  ...     0          0        0      0
6332      120.0  2013.0    video.movie  ...     0          0        0      0
6340      120.0  2012.0    video.movie  ...     0          0        0      0
6376      180.0  2013.0    video.movie  ...     0          0        0      0
6453      180.0  2010.0  video.episode  ...     0          0        0      0
6705       60.0  1893.0    video.movie  ...     0          0        0      0
6706       60.0  1899.0    video.movie  ...     0          0        1      0
7268      180.0  1973.0    video.movie  ...     0          0        0      0
7380      120.0  2006.0       video.tv  ...     0          0        0      0
7472      120.0  2007.0    video.movie  ...     0          0        0      0
7711      120.0  2008.0       video.tv  ...     0          0        0      0
7800      180.0  1974.0    video.movie  ...     0          0        0      0
8794      180.0  2011.0  video.episode  ...     0          0        0      0
9005      120.0  2010.0    video.movie  ...     0          0        0      0
9011      180.0  2012.0    video.movie  ...     0          0        0      0
9121      120.0  2012.0    video.movie  ...     0          0        0      0
9197      180.0  2013.0    video.movie  ...     0          0        0      0
9230      180.0  2013.0    video.movie  ...     0          0        0      0
9600      120.0  1900.0    video.movie  ...     0          0        0      0
10650     120.0  1984.0    video.movie  ...     0          0        0      0
11221      60.0  1991.0    video.movie  ...     0          0        0      0
12109     180.0  1942.0    video.movie  ...     0          0        0      0
12685     180.0  2000.0    video.movie  ...     0          0        0      0
12838      60.0  1957.0    video.movie  ...     0          0        0      0

       Short  Sport  TalkShow  Thriller  War  Western
921        0      0         1         0    0        0
1320       0      0         0         0    0        0
2443       1      0         0         0    0        0
3266       1      0         0         0    0        0
3718       1      0         0         0    0        0
3888       1      0         0         0    0        0
3949       1      0         0         0    0        0
5410       0      0         0         0    0        0
5416       1      0         0         0    0        0
5517       1      0         0         0    0        0
5640       1      0         0         0    0        0
6270       1      0         0         0    0        0
6332       1      0         0         0    0        0
6340       1      0         0         0    0        0
6376       1      0         0         0    0        0
6453       1      0         0         0    0        0
6705       1      0         0         0    0        0
6706       1      0         0         0    0        0
7268       1      0         0         0    0        0
7380       0      0         0         0    0        0
7472       1      0         0         0    0        0
7711       0      0         0         0    0        0
7800       0      0         0         0    0        0
8794       0      0         0         0    0        0
9005       1      0         0         0    0        0
9011       1      0         0         0    0        0
9121       1      0         0         0    0        0
9197       1      0         0         0    0        0
9230       1      0         0         0    0        0
9600       1      0         0         0    0        0
10650      1      0         0         0    0        0
11221      1      0         0         0    0        0
12109      1      0         0         0    0        0
12685      1      0         0         0    0        0
12838      1      0         0         0    0        0

[35 rows x 44 columns]

In [48]:
# Question 11: Count the duplicate rows of diamonds DataFrame
duplicate_count = diamonds_df.duplicated().sum()
print(duplicate_count)

149

In [59]:
# Question 12: Drop rows with missing values in carat and cut columns

cleaned_df = diamonds_df.dropna(subset=['carat', 'cut'])
print(cleaned_df)

      carat        cut color clarity  depth  table   price     x     y     z
0      0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1      0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2      0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3      0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4      0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...     ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53938  0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53939  0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53940   0.7  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53941  0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53942  0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53941 rows x 10 columns]

In [60]:
# Question 13: Subset the dataframe with only numeric columns

numeric_df = diamonds_df.select_dtypes(include='number')
print(numeric_df)

       depth  table   price     x     y     z
0       61.5   55.0   326.0  3.95  3.98  2.43
1       59.8   61.0   326.0  3.89  3.84  2.31
2       56.9   65.0   327.0  4.05  4.07  2.31
3       62.4   58.0   334.0  4.20  4.23  2.63
4       63.3   58.0   335.0  4.34  4.35  2.75
...      ...    ...     ...   ...   ...   ...
53938   60.8   57.0  2757.0  5.75  5.76  3.50
53939   63.1   55.0  2757.0  5.69  5.75  3.61
53940   62.8   60.0  2757.0  5.66  5.68  3.56
53941   61.0   58.0  2757.0  6.15  6.12  3.74
53942   62.2   55.0  2757.0  5.83  5.87  3.64

[53943 rows x 6 columns]

In [61]:
# Question 14: Compute volume as x*y*z if depth > 60, else set volume to 8

def compute_volume(row):
    if row['depth'] > 60:
        return row['x'] * row['y'] * row['z']
    else:
        return 8

diamonds_df['volume'] = diamonds_df.apply(compute_volume, axis=1)
print(diamonds_df['volume'])

0         38.202030
1          8.000000
2          8.000000
3         46.724580
4         51.917250
            ...
53938    115.920000
53939    118.110175
53940    114.449728
53941    140.766120
53942    124.568444
Name: volume, Length: 53943, dtype: float64

In [65]:
# Question 15: Impute missing price values with mean

diamonds_df['price'] = diamonds_df['price'].fillna(diamonds_df['price'].mean())
print(diamonds_df['price'])

0         326.0
1         326.0
2         327.0
3         334.0
4         335.0
          ...
53938    2757.0
53939    2757.0
53940    2757.0
53941    2757.0
53942    2757.0
Name: price, Length: 53943, dtype: float64